.todo-list{
    display: flex;
    .number{
        font-size: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
    }
    .todo-list-image{
        img{
            width: 300px;
            margin-right: 50px;
        }
    }
    .todo-list-title{
        font-size: 24px;
        font-weight: 800;
    };
    .todo-list-author{
        .todo-list-author-color{
            color: rgb(219, 222, 34);
        }
    };
    .todo-list-content{};
}